    .dev-page .dev-page-container, .dev-page .dev-page-container .dev-page-content {
        z-index: 6;
    }
    .image-manager-modal {
        padding: 0 !important;
    }
    .image-manager-modal .modal-dialog {
        width: 90% !important;
        max-width: 90% !important;
    }
    .image-manager-search-container, .form_upload {
        padding: 20px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #CCCCCC;
    }
    .image_manger_images-container {
        height: 300px;
        padding: 0 20px;
        overflow-y: scroll;
    }
    .image_manger_images-container .image_manger_image {
        height: 150px;
        text-align: center;
        margin-bottom: 10px;
        position: relative;
    }
    .image_manger_image img {
        max-width: 90%;
        max-height: 90%;
        border: 2px solid #333333;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    .image_manger_image.active img {
        border: 5px solid #00b0ff;
    }
    .image_manger_image.active:before {
        content: "";
        position: absolute;
        z-index: 11;
        top: 0;
        left: 0;
        width: 30px;
        height: 30px;
        background: url(<?= url('vendor/SayedNofal/ImageManager/images/button-check_blue.png') ?>) no-repeat center;
        background-size: 100%;
    }
    .image_manger_inputs {
        display: table;
        width: 100%;
    }
    .image_manager_image_container {
        float: left;
        position: relative;
        margin: 5px;
    }
    .image_manager_image_container img:not(.image_manger_delete_image) {
        height: 150px;
    }
    .image_manger_delete_image {
        position: absolute;
        left: -3px;
        top: -5px;
        width: 20px;
        cursor: pointer;
    }